* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: #0082e6;
  width: 100%;
  height: 80px;
}

.header {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
}

nav ul {
  float: right;
  padding: 0 35px;
}
nav li {
  display: inline;
  line-height: 80px;
  margin: 0 20px;
}

nav li a {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  padding: 7px 13px;
  border-radius: 5px;
}

a:hover {
  background: #1b9bff;
  transition: .3s ease;
}

form {
  margin-top: 10rem ;
  width: 100%;
  display: flex;
  justify-content: center;
}
.textInput {
  width: 50vw;
  margin: 0 1rem;
  line-height: 2rem;
  font-size: 15px;
  padding-left: 0.5rem ;
  border-radius: 5px;
  border: 0.1px solid black;
}


#priority , .add {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 1rem;
  width: 7rem;
  background: #0489ee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#prioTitle {
  padding-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tasks {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: baseline;
}
.box {
  border: 2px solid rgb(215, 219, 243);
  width: 20vw;
  height: 20vh;
  margin-top: 2rem;
  padding-left: 10px ;
  border-radius: 5px;
}
.title {
  margin-top: 10px;
  margin-bottom: 9vh;
}
footer {
  background: #0082e6;
  height: 25vh;
  color: white;
  font-size: 20px;
  margin-top: 6rem;
  padding: 5px 10px;
}